@charset "UTF-8";
@import url(https://unpkg.com/modern-css-reset/dist/reset.min.css);

:root,
[data-theme="light"] {
    color-scheme: light;

    --primary-color: hsl(230, 100%, 50%);
    --secondary-color: hsl(230, 100%, 42%);
    --thirtiary-color: hsl(230, 100%, 35%);
    --primary-bg: hsl(230, 18%, 98%);
    --secondary-bg: hsl(230, 18%, 96%);
    --thirtiary-bg: hsl(230, 18%, 90%);
    --primary-fg: hsl(230, 9%, 9%);
    --secondary-fg: hsl(230, 9%, 27%);
    --thirtiary-fg: hsl(230, 9%, 45%);

    --primary-border-color: hsla(230, 18%, 72%, .36);
    --primary-box-shadow-border: 0 0 0 .06rem var(--primary-border-color);

    --spacer-1: 0.25rem;
    --spacer-2: 0.5rem;
    --spacer-3: 0.75rem;
    --spacer-4: 1rem;
    --spacer-5: 2rem;
    --spacer-6: 4rem;
    --spacer-7: 8rem;

    --font-size-1: max(0.5vw, 12px);
    --font-size-2: max(0.75vw, 15px);
    --font-size-3: max(1vw, 18px);
    --font-size-4: max(1.5vw, 21px);
    --font-size-5: max(2vw, 24px);
    --font-size-6: max(4vw, 36px);
    --font-size-7: max(8vw, 63px);

    --font-family: 'Inter', sans-serif;

    --border-radius: 1.8em;
    --border-radius-half: calc(var(--border-radius) / 2);
}

[data-theme="dark"] {
    color-scheme: dark;

    --primary-color: hsl(230, 54%, 54%);
    --secondary-color: hsl(230, 54%, 63%);
    --thirtiary-color: hsl(230, 45%, 72%);
    --primary-bg: hsl(230, 9%, 18%);
    --secondary-bg: hsl(230, 9%, 12%);
    --thirtiary-bg: hsl(230, 9%, 27%);
    --primary-fg: hsl(230, 9%, 98%);
    --secondary-fg: hsl(230, 9%, 90%);
    --thirtiary-fg: hsl(230, 9%, 72%);

    --primary-border-color: hsla(230, 9%, 54%, .36);
    --primary-box-shadow-border: 0 0 0 .06rem var(--primary-border-color);
}

p {
    font-size: var(--font-size-2);
}

h2 {
    font-size: var(--font-size-4);
    font-weight: 600;
}

h3 {
    font-size: var(--font-size-3);
    font-weight: 600;
}

a {
    color: var(--secondary-color);
    text-decoration: none;
}

a:hover {
    color: var(--thirtiary-color);
}

ol {
    margin: unset;
}

label {
    font-size: var(--font-size-2);
    color: var(--primary-fg);
}

input[type="text"],
input[type="number"] {
    font-size: var(--font-size-3);
    color: var(--primary-fg);
    border: none;
    border-radius: var(--border-radius-half);
    padding: 0 var(--spacer-2);
    margin: 0 var(--spacer-1);
    width: 4.5rem;
    box-shadow: var(--primary-box-shadow-border);
}

input:focus {
    outline: none;
}

button {
    background-color: var(--primary-color);
    color: white;
    font-size: var(--font-size-3);
    font-weight: 600;
    border: none;
    border-radius: var(--border-radius-half);
    padding: var(--spacer-2) var(--spacer-3);
    margin: var(--spacer-2);
    width: 9vw;
    min-width: 150px;
    height: 2lh;
    cursor: pointer;
}

button:hover {
    background-color: var(--secondary-color);
}

button:disabled {
    background-color: var(--thirtiary-bg);
    color: var(--secondary-fg);
    cursor: not-allowed;
}

body {
    background-color: var(--secondary-bg);
    font-family: var(--font-family);
    display: flex;
    flex-direction: column;
    position: static;
    font-size: var(--font-size-2);
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: var(--spacer-2);
    background-color: var(--primary-bg);
    box-shadow: var(--primary-box-shadow-border);
}

.headerTitle {
    font-size: var(--font-size-5);
    font-weight: 800;
    color: var(--primary-fg);
    text-decoration: none;
}

main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: var(--spacer-4);
    flex-direction: column;
    align-content: stretch;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: var(--spacer-2);
    background-color: var(--primary-bg);
    box-shadow: var(--primary-box-shadow-border);
}

/* org */

.content {
    background-color: var(--primary-bg);
    padding: var(--spacer-4);
    margin-bottom: var(--spacer-4);
    box-shadow: var(--primary-box-shadow-border);
    border-radius: var(--border-radius);
    width: 100%;
    max-width: 1500px;
}

/* カード */
.card {
    background-color: var(--primary-bg);
    padding: var(--spacer-4);
    margin-bottom: var(--spacer-4);
    border-radius: var(--border-radius);
    box-shadow: var(--primary-box-shadow-border);
}

.card2 {
    background-color: var(--primary-bg);
    padding: var(--spacer-4);
    margin-bottom: var(--spacer-4);
    border-radius: var(--border-radius-half);
    box-shadow: var(--primary-box-shadow-border);
    width: 100%;
}

.card2:hover {
    filter: brightness(0.9);
}

.card2 img {
    width: 100%;
    height: 12em;
    border-radius: var(--border-radius) var(--border-radius) 0 0;
    background: var(--thirtiary-bg);
    object-fit: cover;
}

.cardTitle {
    font-size: var(--font-size-3);
    font-weight: 600;
    color: var(--primary-fg);
    overflow: hidden;
    text-overflow: ellipsis;
    padding: var(--spacer-2);
}

.cardDescription {
    font-size: var(--font-size-2);
    color: var(--secondary-fg);
    overflow: hidden;
    text-overflow: ellipsis;
    padding: var(--spacer-2);
}

.config {
    display: flex;
    flex-direction: row;
    gap: var(--spacer-2);
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacer-3);
}

.descriptionItem {
    max-width: 720px;
}