body {
    background-color: var(--color-background);
    margin: 0;
}

.base {
    display: flex;
}

.sidebar-container-base {
    width: 270px;
    height: 100%;
    display:flex;
    align-items: center;
    flex-direction: column;
}

.sidebar-container1 {
    height: 100%;
    padding-top: 18px;
    position: fixed;
}

.sidebar-container-base a {
    color: #fff;
    font-size: 27px;
    text-decoration: none;
}
.sidebar-content {
    width: 180px;
    margin: 3px 0;
    padding: 3px 9px;
    border-radius: var(--radius);
}
.sidebar-content.is-current {
    background-color: var(--color-content-current)
}

.sidebar-content:hover {
    background-color: var(--color-content-hover);
}