@charset "UTF-8";
@import url("../../CSS/style.css");

.timer {
    display: flex;
    flex-direction: column;
    margin: var(--spacer-4) 0;
}

#time {
    font-size: var(--font-size-7);
    font-weight: 600;
    font: monospace;
    font-feature-settings: "tnum";
}

#pomodoroCount {
    font-size: var(--font-size-6);
}